body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --blue: ;
  --white: #fff;
  --primary: #00713c;
  --secondary: #1D1D1B;
  --green: #00ff88;
  --green2: #00ff8052;
  --grey: #f0ffffde;
  --grey2: #f0ffff94;
  --dark: #514869;
  --black: #00000056;
}